pip==21.0.1
setuptools==56.0.0
wheel==0.36.2

flask==1.1.2
feedparser==6.0.2
requests==2.25.1
numpy==1.18.5
scipy==1.6.2
docopt==0.6.2
joblib==0.14.1
psutil==5.7.3

# opencensus
grpcio==1.34.0
opencensus-ext-stackdriver==0.7.4
opencensus==0.7.11
google-cloud-trace >= 0.20.0, < 1.0.0

apprise==0.8.9