name: Build and Deploy

on: push

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.6

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        echo "deb [signed-by=/usr/share/keyrings/cloud.google.gpg] http://packages.cloud.google.com/apt cloud-sdk main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
        curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key --keyring /usr/share/keyrings/cloud.google.gpg add -
        sudo apt-get update
        sudo apt-get install google-cloud-sdk

    - name: Authenticate gcloud service account
      run: |
        gcloud config set project testedtimestamp
        gcloud config set account timestamp-deploy-github@testedtimestamp.iam.gserviceaccount.com
        echo ${{ secrets.GCLOUD_AUTH_BASE64 }} | base64 --decode > gcloud.json
        gcloud auth activate-service-account --key-file=gcloud.json --project=testedtimestamp

    - name: Run tests
      run: |
        python test.py
      env:
        GOOGLE_APPLICATION_CREDENTIALS: gcloud.json


  deploy:
    name: Deploy to Google Cloud Run
    runs-on: ubuntu-latest
    needs: [test]
    if: github.ref == 'refs/heads/master'
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.6

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        echo "deb [signed-by=/usr/share/keyrings/cloud.google.gpg] http://packages.cloud.google.com/apt cloud-sdk main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
        curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key --keyring /usr/share/keyrings/cloud.google.gpg add -
        sudo apt-get update
        sudo apt-get install google-cloud-sdk

    - name: Authenticate gcloud service account
      run: |
        gcloud config set project testedtimestamp
        gcloud config set account timestamp-deploy-github@testedtimestamp.iam.gserviceaccount.com
        echo ${{ secrets.GCLOUD_AUTH_BASE64 }} | base64 --decode > gcloud.json
        gcloud auth activate-service-account --key-file=gcloud.json --project=testedtimestamp

    - name: Submit build to Google Cloud
      run: gcloud builds submit --tag gcr.io/testedtimestamp/testedtimestamp

    - name: Log to discord
      run: apprise -vv -t 'Deploying new version to Google Cloud Run' 'discord://$secrets.DISCORD_WEBHOOK_ID/$secrets.DISCORD_WEBHOOK_TOKEN/'

    - name: Deploy to Google Cloud Run  
      run: gcloud beta run deploy testedtimestamp --image gcr.io/testedtimestamp/testedtimestamp --platform managed --allow-unauthenticated --region us-central1
