name: Deploy to Google Cloud Run

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.6.9
    - name: Authenticate gcloud
      run: |
        export GOOGLE_APPLICATION_CREDENTIALS="gcloud.json"
        echo ${{ secrets.GCLOUD_AUTH }} > $GOOGLE_APPLICATION_CREDENTIALS
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        sudo apt-get update
        sudo apt-get install google-cloud-sdk
    - name: Submit build to Google Cloud
      run:  gcloud builds submit --tag gcr.io/testedtimestamp/testedtimestamp
