name: Deploy to Google Cloud Run

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.6.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        echo "deb [signed-by=/usr/share/keyrings/cloud.google.gpg] http://packages.cloud.google.com/apt cloud-sdk main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
        curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key --keyring /usr/share/keyrings/cloud.google.gpg add -
        sudo apt-get update
        sudo apt-get install google-cloud-sdk
    - run: gcloud config set project testedtimestamp
    - run: gcloud config set account timestamp-deploy-github@testedtimestamp.iam.gserviceaccount.com
    - run: echo ${{ secrets.GCLOUD_AUTH_BASE64 }} | base64 --decode > gcloud.json
    - run: gcloud auth activate-service-account --key-file=gcloud.json --project=testedtimestamp
    - name: Submit build to Google Cloud
      run:  gcloud builds submit --tag gcr.io/testedtimestamp/testedtimestamp
